.banner {
  background: linear-gradient(235.41deg, #264FC0 8.45%, #001076 48.37%);
  overflow: hidden;

  svg {
    width: 100%;
    display: block;
    transform: translateY(0.1rem);
    animation: animate-banner-wave 10s infinite cubic-bezier(0.51, -0.36, 0.35, 0.86) alternate-reverse;
  }
}

.header {
  @include flex-yx(center, space-between);
  padding-top: 1.6rem;

  .menu {
    @include device(tablet) {
      display: none;
      background: rgba(0, 0, 0, 0.75);
      position: fixed;
      @include position-zero(top, bottom, left, right);
      z-index: 999;
      opacity: 0;
      animation: animate-menu 0.6s ease forwards;
    }

    &.active {
      @include device(tablet) {
        display: block;
      }

      &+.burger {
        position: fixed;
        top: 3.5rem;
        right: 1%;
        z-index: 9999;
      }
    }

    ul {
      display: flex;
      @include device(tablet) {
        flex-direction: column;
        @include flex-yx(center, space-evenly);
        width: 100%;
        height: 100%;
      }
    }

    li {
      @include device(tablet) {
        transform: translateX(2rem);
        opacity: 0;
        @for $i from 1 to 6 {
          &:nth-child(#{$i}) {
            animation: animate-menu-items 0.3s #{$i / 5}s forwards;
          }
        }
      }

      &.hidden-on-desktop {
        display: none;
        @include device(tablet) {
          display: block;
        }
      }

      &:nth-child(odd) {
        a::before {
          @include position-zero(top, left);
        }
        a::after {
          @include position-zero(bottom, right);
        }
      }

      &:nth-child(even) {
        a::before {
          @include position-zero(top, right);
        }
        a::after {
          @include position-zero(bottom, left);
        }
      }
    }

    a {
      position: relative;
      display: block;
      padding: 0.25rem 0;
      margin: 0 1rem;
      @include font-swl(1.4rem, 700, 1.9rem);
      color: $extra-light-blue;
      @include device(tablet) {
        margin: 0 0;
        @include font-swl(2.8rem, 700, 1.5rem);
      }
      @include device(desktop) {
        &::before,
        &::after {
          content: '';
          position: absolute;
          background: $extra-light-blue;
          width: 0;
          height: 0.2rem;
          border-radius: 1rem;
          transition: width 0.3s;
        }
  
        &:hover::before,
        &:hover::after {
          width: 60%;
        } 
      }
    }
  }

  .burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5rem;
    height: 1.5rem;
    cursor: pointer;
    @include device(tablet) {
      display: flex;
    }

    &.active {
      :nth-child(1) {
        transform: translate(0rem, 0.75rem) rotate(-45deg);
      }

      :nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
      }

      :nth-child(3) {
        transform: translate(0rem, -0.45rem) rotate(45deg);
      }
    }
    
    div {
      background: $extra-light-blue;
      height: 0.3rem;
      border-radius: 1rem;
      transition: transform 0.3s, opacity 0.3s;
    }
  }

  .btn-login {
    position: relative;
    background: transparent;
    @include flex-yx(center, center);
    width: 18rem;
    height: 5.4rem;
    border: 0.2rem solid $extra-light-blue;
    border-radius: 1rem;
    text-transform: uppercase;
    overflow: hidden;
    @include device(mobile) {
      display: none;
    }
    
    span {
      position: relative;
      z-index: 1;
      @include font-swl(2rem, 700, 2.7rem);
      color: $extra-light-blue;

      &::before,
      &::after {
        content: 'LOGIN';
        position: absolute;
        @include position-zero(top, left);
        overflow: hidden;
        transition: clip-path 0.6s, width 0.3s;
      }

      &::before {
        color: $white;
        z-index: 2;
      }

      &::after {
        color: $blue;
        z-index: 1;
        clip-path: polygon(0 0, 0 0, 0 0, 85% 100%);
      }
    }

    &:hover {
      span::before {
        width: 50%;
      }
      span::after {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 100%);
      }
    }
    
    &::after,
    &::before {
      content: '';
      position: absolute;
      @include position-zero(top);
      width: 0;
      height: 100%;
      transition: width 0.6s, transform 0.6s;
    }
    
    &::after {
      @include flex-yx(center, flex-end);
      @include position-zero(left);
      background: $blue;
      transform: translate(-70%, 0) skewX(0);
    }
    
    &::before {
      @include flex-yx(center, flex-start);
      @include position-zero(right);
      background: $white;
      transform: translate(70%, 0) skewX(0);
    }

    &:hover {
      &::after {
        width: 170%;
        transform: translate(-70%, 0) skewX(35deg);
      }
      &::before {
        width: 170%;
        transform: translate(70%, 0) skewX(35deg);
      }
    }
  }
}

.call {
  @include flex-x(space-between);
  margin-top: 9rem;
  padding-bottom: 5rem;

  &-texts {
    width: 100%;
    max-width: 40rem;
    @include device(tablet) {
      max-width: 40rem;
      text-align: center;
      margin: 0 auto;
    }

    h1 {
      max-width: 40rem;
      @include font-swl(4.8rem, 700, 6.5rem);
      color: $extra-light-blue;
      @include device(tablet) {
        max-width: 100%;
      }
    }
  
    h2 {
      max-width: 38rem;
      margin: 2rem 0 3.6rem;
      @include font-swl(1.4rem, 700, 1.9rem);
      color: $light-gray;
      @include device(tablet) {
        max-width: 100%;
      }
    }
  
    .btn-begin {
      background: $green;
      @include flex-yx(center, center);
      width: 18rem;
      height: 5.4rem;
      border: none;
      border-radius: 1rem;
      text-transform: uppercase;
      @include font-swl(2rem, 700, 2.7rem);
      color: $extra-light-blue;
      transition: background 0.3s;
      @include device(tablet) {
        margin: 0 auto;
      }
      &:hover {
        background: $light-green;
      }
    }
  }

  .hero-container {
    .hero {
      max-width: 100%;
      @include device(tablet) {
        display: none;
      }
    }
  }
}
