* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-size: 10px;
}

html,
body {
  min-height: 100%;
}

body {
  background: $extra-light-blue;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 118rem;
  padding: 0 1%;
  margin: 0 auto;
}

.title-group {
  @include flex-yx(center, center);
  flex-direction: column;
  padding-top: 6rem;
}

.section-title {
  width: 100%;
  max-width: 78rem;
  text-align: center;
  @include font-swl(3.6rem, 700, 4.9rem);
  color: $light-blue;
}

.section-subtitle {
  width: 100%;
  max-width: 58rem;
  margin: 1.6rem 0 4.8rem;
  text-align: center;
  @include font-swl(1.4rem, 600, 1.9rem);
  color: $dark-gray;
}

.divider-top {
  transform: translateY(0.5rem);
}

[data-show="to-top"] {
  opacity: 0;
  &.show {
    animation: show-to-top 1s ease forwards;
  }
}

[data-show="to-left"] {
  opacity: 0;
  &.show {
    animation: show-to-left 1s ease forwards;
  }
}

[data-show="to-right"] {
  opacity: 0;
  &.show {
    animation: show-to-right 1s ease forwards;
  }
}

[data-show="to-bottom"] {
  opacity: 0;
  &.show {
    animation: show-to-bottom 1s ease forwards;
  }
}
