.partners {
  background: $white;
  padding-bottom: 6rem;
  overflow: hidden;

  &-content {
    @include flex-x(center);
    column-gap: 6rem;
    @include device(mobile) {
      flex-direction: column;
      align-items: center;
      row-gap: 3rem;
    }

    img {
      object-fit: cover;
      max-width: 100%;
    }
  }
}
